

.tab{
  padding: 8px;
  border: 1px solid gray;
  border-radius: 8px;
}

.tab-header{
  display: flex;
  padding-top: 8px;
  gap: 8px;
  border-bottom: 1px solid gray;
  
}

button{
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding: 16px; 
  transition: all ease-in 50ms;
}



.tab-content{
  display: flex;
  justify-content: center;
  padding: 8px;
}

.active{
  border-bottom: 2px solid blue;
  color: blue;
}